.list {
  margin-top: 40px;
  padding: 0;
  border-left: solid 1px lightgray;
  border-right: solid 1px lightgray;
}

.list_item {
  border-top: 1px lightgray solid;
  display: flex;
  height: 250px;
}

.poster {
  height: 200px;
  width: 140px;
  object-fit: cover;
  cursor: pointer;
  margin-right: 20px;
}

.title {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
